:root {
    --main-font: 'Signika', sans-serif;
    --main-font-size: 18px;
    --primary-color: #24FFFF;
    --secondary-color: #10343e;
    --tertiary-color: #98c9da;
    --quarternary-color: #075c58;
}

* {
    margin: 0;
    padding: 0;
    caret-color: transparent;
}

body {
    height: 100vh;
    display: flex;
    font-family: var(--main-font);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: var(--main-font-size);
}

.left-container {
    flex: 2;
    background-image: url(../sign-up-form/images/mountain-dusk.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.banner {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    background-color: rgb(16,52,62, 0.5);
    position: relative;
    top: 15%;
}

.citation {
   position: relative;
   text-align: center;
   width: 100%;
   top: 82%;
   color: var(--tertiary-color);
   font-size: 10px;
}

a {
    color: var(--tertiary-color);
}

.right-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    font-size: var(--main-font-size);
    height: 100%;
}

.description, .form, .signup {
    flex: 1;
    color: white;
    padding: 6% 8%;
}

.description {
    display: flex;
    align-items: center;
    font-size: 48px;
}

.form {
    flex: 1;
    border-top: 2px solid var(--quarternary-color);
    border-bottom: 2px solid var(--quarternary-color);
    border-image: linear-gradient(
      to right, white, var(--quarternary-color)) 1 0 1 0;
}

fieldset {
    display: flex;
    gap: 3.7%;
    border: none;
    font-size: var(--main-font-size);
    height: 100%;
}

.form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: none;
}

input {
    height: 30px;
    width: 80%;
    border-radius: 4px;
    margin-bottom: 1.5%;
    font-size: var(--main-font-size);
    background-color: rgb(7,92,88);
    padding-left: 5px;
    color: white;
    border: none;
    outline: 1px solid white;
    border: 2px solide white;
    cursor: pointer;
    caret-color: auto;
}

input:focus {
    background-color:  var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 2px 2px 2px 2px black;
}

.error {
    outline: 2px solid red;
    background-color: lightcoral;
}

.signup {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

#password-check {
    color: var(--secondary-color);
    font-size: 12px;
}

button {
    border: 2px solid var(--primary-color);
    height: 35px;
    width: 175px;
    color: var(--primary-color);
    background-color: var(--quarternary-color);
    border-radius: 4px;
    font-weight: bold;
    font-size: var(--main-font-size);
    margin-top: 5%;
    cursor: pointer;
}

.login {
    margin-top: 3%;
}

@media all and (max-width: 617px) {
    body {
        flex-direction: column;
    }

    .banner {
        height: 75px;
        top: 5%;
    }

    .citation {
        position: relative;
        top: 25%;
    }

    .left-container {
        background-size: 100%;
        background-position: center -50px;
    }

    .description, .signup, .form {
        justify-content: center;
        align-items: center;
    }

    .form-column {
        gap: 5px;
    }

    input {
        width: 100%;
    }

    button {
        width: 100%;
    }
}

@media all and (max-width: 465px) {
    .citation {
        top: 60%;
    }
}